/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #424040;
}

img{
    margin-left: 41%;
}

form {
    background-color: rgb(167, 153, 153);
    border: 1px solid gray;
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}